@inject IJSRuntime JSRuntime

<div id="@("chartcontainer" + Config.CanvasId)" class="chart-container @Class" 
     style="height:@Height; width:@Width; @(Style)" @onmouseout="async (args) => await OnMouseOutAsync(args)">
    <canvas id="@Config.CanvasId" style="@(Height != null ? $"height:{Height}" : "") @(Width != null ? $"width:{Width};" : "")"></canvas>
</div>